<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="pojo.Photo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fheadphoto" jdbcType="VARCHAR" property="fheadphoto" />
    <result column="mheadphoto" jdbcType="VARCHAR" property="mheadphoto" />
    <result column="kheadphoto" jdbcType="VARCHAR" property="kheadphoto" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fheadphoto, mheadphoto, kheadphoto, uid
  </sql>
  <select id="selectByExample" parameterType="pojo.PhotoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from photo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="pojo.Photo" useGeneratedKeys="true">
    insert into photo (fheadphoto, mheadphoto, kheadphoto, 
      uid)
    values (#{fheadphoto,jdbcType=VARCHAR}, #{mheadphoto,jdbcType=VARCHAR}, #{kheadphoto,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="pojo.Photo" useGeneratedKeys="true">
    insert into photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fheadphoto != null">
        fheadphoto,
      </if>
      <if test="mheadphoto != null">
        mheadphoto,
      </if>
      <if test="kheadphoto != null">
        kheadphoto,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fheadphoto != null">
        #{fheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="mheadphoto != null">
        #{mheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="kheadphoto != null">
        #{kheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Photo">
    update photo
    <set>
      <if test="fheadphoto != null">
        fheadphoto = #{fheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="mheadphoto != null">
        mheadphoto = #{mheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="kheadphoto != null">
        kheadphoto = #{kheadphoto,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Photo">
    update photo
    set fheadphoto = #{fheadphoto,jdbcType=VARCHAR},
      mheadphoto = #{mheadphoto,jdbcType=VARCHAR},
      kheadphoto = #{kheadphoto,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getPhotoByUid" parameterType="int" resultType="Photo">
  	select * from photo where uid=#{uid}
  </select>
</mapper>